


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .main{
        background-color:white;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .main{
        background-color:white;
    }

 }

 /* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .main{
        background-color:white;
    }
 }

 /* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .main{
        background-color:white;
    }
 }

 /* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .main{
        background-color:white;
    }
 }