

#heading {
    font-family: Lato, sans-serif;
    color: #a0a0a0;
    font-size: 22.5pt;
    font-weight: 400;

}

#subhead {
    font-family: Lato, sans-serif;
    color: white;
    font-size: 15pt;
    font-weight: 400;

}

.footer {
    font-family: Lato, sans-serif;
    background-color: #a0a0a0;
    color: #fff;
    font-size: 10.5pt;
    
    margin-left: 25%;
    margin-right: 25%;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}