

#heading {
    font-family: Lato, sans-serif !important;
    color: #a0a0a0;
    font-size: 22.5pt;
    font-weight: 400;
    

}

#subhead {
    font-family: Lato, sans-serif;
    color: white;
    font-size: 15pt;
    font-weight: 400;

}

footer {
   
    padding-left: 200px;
    


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link1 { 
    display: flex;
    flex-direction: row;
    justify-content: start;

    

}

nav li{
    display: inline-block;
    margin-left:  70px;
}

.container1{
    margin-right: 30px ;

}

.link2 { 
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.container2{
    margin-right: 30px ;

}

.link3 { 
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    

}


.container3{
    margin-right: 30px;
}